{:kotoba.app/id "cloud.itonami.isic-2817", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreicdzhxgi4av62b5ctvwnwy2mkadqdkigyzs45bikfjsbkrk34awz4", :kotoba.app/embed-url "ipfs://bafkreicdzhxgi4av62b5ctvwnwy2mkadqdkigyzs45bikfjsbkrk34awz4", :published {:archive "https://kotobase.net/ipfs/bafkreicdzhxgi4av62b5ctvwnwy2mkadqdkigyzs45bikfjsbkrk34awz4", :size 73043, :put-status 201, :get-status 200, :at "2026-08-15T13:34:52.537Z"}}
